<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nbsm.headfirstdesignbook2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PizzaMain" />
        <activity android:name=".chapt6CommandPattern.CommandPatternMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapt7AdapterPattern.TurkeyAdapterMain" />
        <activity android:name=".chapt7FacadePatternHometheater.HomeTheaterMain"></activity>
    </application>

</manifest>